.img_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_img {
  animation-name: sway;
  animation-duration: 6s;
  animation-timing-function: ease-in-out;
  animation-delay: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes sway {
  0% {
    -webkit-transform: rotate(6deg);
    -khtml-transform: rotate(6deg);
    transform: rotate(6deg);
  }
  50% {
    -webkit-transform: rotate(-6deg);
    -khtml-transform: rotate(-6deg);
    transform: rotate(-6deg);
  }
  100% {
    -webkit-transform: rotate(6deg);
    -khtml-transform: rotate(6deg);
    transform: rotate(6deg);
  }
}
